<!DOCTYPE html>
<html>
    <head>
        <title>Expense Categories List</title>
    </head>
    <body>
        <main>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expense_categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipt_set.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
