<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Signup</button>
                </form>
                {% if error %}<p>{{ error }}</p>{% endif %}
            </div>
        </main>
    </body>
</html>
